/* Header  */

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.photograph-header button {
    transform: translate(-50%);
}

.meta-infos-header {
    margin-top: -15px;
}

.photograph-header :nth-child(1) {
    order: 1;
}

.photograph-header :nth-child(3) {
    order: 3;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact-button:hover, .contact-button:focus {
    background-color: #D3573C;
    color: #000;
}


/* Modal contact */
/* overlay  modal formulaire de contacte  */
.overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.796);
    z-index: 9;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 10px;
    right: 50%;
    left: 50%;
    width: 75vw;
    transform: translateX(-50%); 
    z-index: 10;
}
.modal{
    width: 500px;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 45px 35px;
    margin: auto;
    position: relative;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.modal header h2 {
    
    padding-top: 30px;
    font-size: 64px;
    font-weight: normal;
    text-align:justify;
}
#name-photograph-modal {
    margin-bottom: 35px;

}

form {
    margin-top: 80px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-bottom: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form textarea{
    height: 150px;
}

.no-scroll{
    overflow: hidden;
}
/* Lightbox  */
#lightbox-modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    /* transform: translateX(-50%);  */
    background-color: white;
} 
.lightbox{
   
    border-radius: 5px;
    background-color: white;
    width: 84%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 45px 35px;
    margin: auto;
    position:relative;
    top: 0px;
    overflow: hidden;
    
}
.lightbox header img {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.lightbox img .cross{
    width: 50px;
    
}
.lightbox .chevron-left{
    width: 65px;
    left: 10px;
    top: 45%;
}
.lightbox .chevron-right{
    width: 65px;
    right: 10px;
    top: 45%;
    color: #901C1C;
}
.lightbox .image-contain{
    display: flex;
    flex-direction: column;
    width: 75vw;
}
.lightbox span{
    
    color: #901C1C;
    font-size: 24px;
    padding: 20px 0;
}

.lightbox .img-lightbox {
    width: 100%;
   height: 88vh;
   object-fit: contain;
   border-radius: 8px;
}




/* Partie photographe header  */

.photograph-header .name h1{
    color: #D3573C;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 0px;
}

.photograph-header .country {
    color: #901C1C;
    font-size: 26px;

}

.photograph-header .tagline {
    color: #000;
    color: #525252;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}


.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* css filtres */
.gallerie-media {
    margin: 30px 100px;
}

button{
    overflow: hidden;
}
.box-arrow{
    display: inline-block;
    transform: rotate(0deg);
    transition: all .4s ease-in-out;
    overflow: hidden;
}

/* FIlter avec list  */
#buttonFilter {
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    color: #FAFAFA;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
}

#buttonFilter:hover,
#buttonFilter:focus {
    background-color: #D3573C;
    color: #000;
}
#buttonFilter:hover .box-arrow,
#buttonFilter:focus .box-arrow{
  color: #FAFAFA;
}
.gallerie-media-filters {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 30px;
}
.gallerie-media-filters {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100px;
}


.gallerie-media-filters-menu {
    position: relative;
    align-self: flex-start;
}

.gallerie-media-filters-title {
    line-height: 50px;
    margin: 0;
    padding: 11px 0;
}

.gallerie-media-filters-menu--selected {
    /* display: none; */
    position: relative;
    /* top: 100; */
    left: 0;
    line-height: 50px;
    padding-left: 0;
}

.gallerie-media-filters-menu--selected i,
.gallerie-media-filters-menu--list i {
    margin-left: 25px;
    pointer-events: none;
}

.display-none {
    display: none;
}

.gallerie-media-filters-menu--list {
    /* display: none; */
    list-style: none;
    width: 170px;
    border-radius: 0 0 5px 5px;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: 50px;
    z-index: 3;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.107);
}

.gallerie-media-filters-menu--list > li {
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    padding: 11px;
    padding-left: 12px;
    height: 50px;
    border: none;
    background-color:#901C1C;
    cursor: pointer;
    /* border-bottom: 1px solid white; */
    position: relative;
}

.gallerie-media-filters-menu--list > li::before {
    content: "";
    position: absolute;
    border-top: 1.2px solid white;
    width: calc(100% - 20px);
    top : 0;
}

.gallerie-media-filters-menu--list > li:last-child:before {
    border: none;
    border-top: 1.2px solid white;
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    top : 0;
}

.gallerie-media-filters-menu--list > li:hover,
.gallerie-media-filters-menu--list > li:focus {
    background-color: #D3573C;   
    color: #000;
}


/* Permet de masquer l'option dans la liste  */
.valeur-cache{
    display: none;
    }

/* Fin de filter avec list  */

/* Gallery */
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 50px;
    
}

.photo-card{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.photo-card .fa-video {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #FAFAFA;
    text-shadow: 1px 0 5px #901C1C;
}
/* .photo-card .fa-video:hover {
    color: #000;
    text-shadow: 1px 0 5px #901C1C;
} */

.photo-card h2{
    color: #901C1C;
    font-size: 26px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* margin-top: 0px; */
}
.photo-card h2 .title-card{
    
   position: absolute;
   display: inline-block;
   max-width: 80%;
   
}
.photo-card h2  .like-card{
    display:inline-block;
    margin-left: auto;
    position: absolute;
    right: 0;
}
.photo-card img, .photo-card video{
    width: 100%;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
    object-position: 50% 25%;
    /* correction bug white space  */
    vertical-align: middle;
    cursor: pointer;
    
}
.image-contain img, .image-contain video{
    animation: appear .3s ease-in-out;
    
}
.img-lightbox{
    z-index: 13;

}
@keyframes appear {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.price{
    position: fixed;
    bottom: 0px;
    right: 50px;
    width: 350px;
    height: 50px;
    background: #DB8876;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    font-size: 24px;
    font-weight: 600;
}
.price p{
    z-index: 10;
}

/* Partie like card */
.liker{
    cursor: pointer;
}
.like-plein{
    display: none;
}
.like-vide{
    display: inline-block;
}